__pycache__/
docs/build
.vscode
dist/
*.egg-info/
.ipynb_checkpoints
.DS_Store
.idea
*.pdf
*.png
*.pkl
examples/random_tokens_example/saved_models/
examples/mnli_example/data_root_dir/
examples/mnli_example/bert-base-uncased/
examples/mnli_example/output_root_dir/
examples/mnli_example/bert_model/
examples/mnli_example/trained_teacher_model/
huazhuang/data_root_dir/cosmetics/
huazhuang/output_root_dir/
huazhuang/bert_model/
huazhuang/utils/bert_model_uncased/
xuanchuan/data_root_dir/cosmetics/
xuanchuan/output_root_dir/
xuanchuan/bert_model/
xuanchuan/utils/bert_model_uncased/
xuanchuan/utils/cosmetics_data_utils.py
xuanchuan/utils/source_train.txt
xuanchuan/utils/cached.ch
xuanchuan/data_root_dir/
caiye.tar.gz
huazhuang/mac_bert_model/
examples/msra_ner_example/electra_model/
examples/msra_ner_example/output_dir/
examples/msra_ner_example/data/*cache*
huazhuang/electra_model/
